.radio-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    height: 100px;
    gap: 10px
}

.radio-control {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: transparent;
    width: 100%;
    height: 100%;
    margin: 0!important;
    padding: 0;
    cursor: pointer;
}

.radio-control input {
    display: none;
}

.radio-control i {
    font-size: 50px;
}

.radio-control input:checked + i::after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid #ffe08a;
    border-radius: 5px;
}